Servico/ClientWindows/Connected Services/ServiceRefWCF1/Servico011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44321/Servico01.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExemploServi%C3%A7o" />
  <xs:element name="Mensagem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MensagemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Somar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SomarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SomarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromocaoDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PromocaoDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExemploServi%C3%A7o" minOccurs="0" name="PromocaoDiaResult" nillable="true" type="q1:Produtos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>