Servico/ClientWindows/Connected Services/ServiceRefWCF1/Servico012.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExemploServi%C3%A7o" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExemploServi%C3%A7o" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Produtos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produtos" nillable="true" type="tns:Produtos" />
</xs:schema>