ClientWindows/Connected Services/ServiceRefWCF1/Servico01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico01" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44321/Servico01.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44321/Servico01.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServico01_Mensagem_InputMessage">
    <wsdl:part name="parameters" element="tns:Mensagem" />
  </wsdl:message>
  <wsdl:message name="IServico01_Mensagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:MensagemResponse" />
  </wsdl:message>
  <wsdl:message name="IServico01_Somar_InputMessage">
    <wsdl:part name="parameters" element="tns:Somar" />
  </wsdl:message>
  <wsdl:message name="IServico01_Somar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SomarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServico01">
    <wsdl:operation name="Mensagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico01/Mensagem" message="tns:IServico01_Mensagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico01/MensagemResponse" message="tns:IServico01_Mensagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Somar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico01/Somar" message="tns:IServico01_Somar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico01/SomarResponse" message="tns:IServico01_Somar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServico01" type="tns:IServico01">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mensagem">
      <soap:operation soapAction="http://tempuri.org/IServico01/Mensagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Somar">
      <soap:operation soapAction="http://tempuri.org/IServico01/Somar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico01">
    <wsdl:port name="BasicHttpBinding_IServico01" binding="tns:BasicHttpBinding_IServico01">
      <soap:address location="http://localhost:57247/Servico01.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>